@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.top-container-1 {
    @apply mt-16 px-8 md:px-16 xl:px-24 xl:mb-32 max-md:mt-8 max-md:text-base
}
.title-text{
    @apply text-sm md:text-2xl font-bold mx-auto text-gray-700  text-center  uppercase
}
.own-bg{
    background-image: url("/exteriors.png");
    background-size: cover;
    
}
.img-float{
    float: left;
    
}
.truncated {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limit to 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
.button-all {
    @apply w-full h-12 text-xl  cursor-pointer duration-300 border-[#0A3981] border-[1px] rounded-xl;
}

.txt-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.our-font{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.foot-cont {
    @apply list-none text-sm text-gray-500
}

html {
    scroll-behavior: smooth;
}
.my-box {
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.3);
  }

  .fontmobile{
    @apply text-[10px]  leading-5
  }
  


